  <h1>Login</h1>
  <form>
    <div class="form-item">
      <label for="user"></label>
      <input type="text" name="user" id='user' required="required" placeholder="Username" autocomplete='false'></input>
    </div>
    <div class="form-item">
      <label for="pass"></label>
      <input type="password" name="pass" id='pass' required="required" placeholder="Password" autocomplete='false'></input>
    </div>

    <div class="button-panel">
      <input type="button" class="button" onclick="" title="Sign In" value="Sign In"></input>
    </div>
  </form>
  <div class="form-footer">
	  <p><a href="">forgot password?</a></p>
	  <p><a href="">New User? Register</a></p>
  </div>
