  <h1>Create an Account</h1>
  <form>
	  <div class="form-item">
      <label for="fname"></label>
      <input type="text" name="fname" id='fnane' required="required" placeholder="First name" autocomplete='false'></input>
    </div>
<div class="form-item">
      <label for="lname"></label>
      <input type="text" name="lname" id='lname'  placeholder="Last name" autocomplete='false'></input>
    </div>
 
    <div class="form-item">
      <label for="user"></label>
      <input type="text" name="user" id='user' required="required" placeholder="Username" autocomplete='false'></input>
    </div>
<div class="form-item">
      <label for="email"></label>
      <input type="email" name="email" id='email' required="required" placeholder="Email" autocomplete='false'></input>
    </div>
   <div class="form-item">
      <label for="pass"></label>
      <input type="password" name="pass" id='pass' required="required" placeholder="Password" autocomplete='false'></input>
    </div>
<div class="form-item">
      <label for="confirmPass"></label>
      <input type="password" name="confirmPass" id='confirmPass' required="required" placeholder="confirm password" autocomplete='false'></input>
    </div>

   <div class="button-panel">
      <input type="button" class="button" onclick="" title="Sign Up" value="Sign Up"></input>
    </div>
  </form>
  <div class="form-footer">
	  <p><a href="">already have an account? Login</a></p>
  </div>

