<h1>Create an Account</h1>
<div class="form-item">
	<div id="error" class="error"></div>
</div>
<form>
	<div class="form-item">
      <label for="fname"></label>
      <input onkeydown="validateOnSpot(1)" type="text" name="fname" id='fname' required="required" placeholder="First name" autocomplete='false'></input>
    </div>
<div class="form-item">
      <label for="lname"></label>
      <input type="text" name="lname" id='lname'  placeholder="Last name" autocomplete='false'></input>
    </div>
<div class="form-item">
      <label for="email"></label>
      <input onkeydown="validateOnSpot(2)" type="email" name="email" id='email' required="required" placeholder="Email" autocomplete='false'></input>
    </div>
   <div class="form-item">
      <label for="pass"></label>
      <input onkeydown="validateOnSpot(3)" type="password" name="pass" id='pass' required="required" placeholder="Password" autocomplete='false'></input>
    </div>
<div class="form-item">
      <label for="confirmPass"></label>
      <input type="password" name="confirmPass" id='confirmPass' required="required" placeholder="confirm password" autocomplete='false'></input>
    </div>

   <div class="button-panel">
      <input type="button" id="signupBtn" class="button" onclick="signup()" title="Sign Up" value="Sign Up"></input>
    </div>
  </form>
  <div class="form-footer">
	  <p><a href="/login">already have an account? Login</a></p>
  </div>

