<div class="form-wrapper addNewApp">
<h1>Add new Application</h1>
<form>
	<div class="form-item">
      <label for="appName"></label>
      <input type="text" name="appName" id='appName' required="required" placeholder="Application name" autocomplete='false'></input>
    </div>
<div class="form-item">
      <label for="trustedOrigin"></label>
      <input type="text" name="trustedOrigin" id='trustedOrigin'  placeholder="Authorised Origin" autocomplete='false'></input>
    </div>
<div class="form-item">
      <label for="redirectUri"></label>
      <input type="text" name="redirectUri" id='redirectUri' required="required" placeholder="Redirct URI" autocomplete='false'></input>
    </div>
<div class="button-panel">
      <input type="button" id="createBtn" class="button" onclick="createApp(this)" title="Create" value="Create"></input>
    </div>
</form>
</div>
<script defer src="/static/js/newApp.js"></script>
